.matrix {
    color: #69110a
}
table, th, td{
    border: 1px solid black;
    border-spacing: 10px;
}

th,td {
    padding: 0.5em;
    font-size: 0.5em;
    color: black;
    font-weight: normal;
}

table{
    border-collapse: collapse;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #69110a
}