html,body {
    width: 100%
}

thead, thead th{
    border: 3px solid #69110a;
}

th,td {
    color: black;
    font-weight: normal;
    border: 1px solid #69110a;
    font-size: calc(10px + 1vmin);  
    width: 0.05vw;
}

tr > th {
    height: 40px;
    width: 90px;
}

.start{
    width: 40px;
}

.start, .letter_head > th {
    font-size: calc(10px + 2vmin);
    font-weight: bold;
}


td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

table {
    overflow-x: auto;
    display: block;
    border-collapse: collapse;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #69110a
}

.toneGrid {
    display: grid;
    grid-template-columns: 50px 50px;
}

.toneGridBig {
    display: grid;
    grid-template-columns: 70px 70px;
}
.toneGridXL {
    display: grid;
    grid-template-columns: 75px 75px;
}

.character {
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
}

.blank {
    width: 60px;
}

.character:hover {
    background: rgba(248, 148, 6, 0.3);
}

.group_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2vh;
}

.blank_button{
    visibility: hidden;
}

#lastButton {
    margin-bottom: 0px;
}