html,body {
    width: 100%
}

thead, thead th{
    border: 3px solid #69110a;
}

th,td {
    font-size: 0.5em;
    color: black;
    font-weight: normal;
    border: 1px solid #69110a;
    border-spacing: 10px;
    width: 40px;
    font-size: calc(10px + 0.75vmin)  
}

td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

table {
     -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;
    border-collapse: collapse;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #69110a
}

.topHalf {
    float: left;
}

.character {
    padding: 2.5px 2.5px 2.5px 2.5px;
}